<!doctype html>
<html>
	<head>
		<title>Join Today</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css')}}">
	</head>

	<body>
		<h1>Join Today</h1>

		{% if message is defined %}
			<div class="alert alert-info">{{message}}</div>
		{% endif %}
		
		<form action="/signup_action/" method="Post">
			<label for="username">Username</label><br>
			<input type="text" name="username" id="username"><br>
			<br>
			<label for="password">Password</label><br>
			<input type="password" name="password" id="password"><br>
			<br>
			<label for="fullname">Name</label><br>
			<input type="text" name="fullname" id="fullname"><br>
			<br>
			<label for="email">Email</label><br>
			<input type="email" name="email" id="email"><br>
			<br>
			<input type="submit" class="btn btn-primary" value="Sign Up">
			<br/>


		</form>
	</body>
</html>